<form class="form-inline row" role="form" ng-submit="search()">
  <div class="form-group col-xs-8">
    <input type="search" class="form-control" id="search" ng-model="searchInput" placeholder="Search Repositories" style="width:100%">
  </div>
  <button type="submit" class="btn btn-info col-xs-4">Search</button>
</form>

<h2 ng-if="message">{{ message }}</h2>
<h3 ng-if="loading">Fetching repos...</h3>

<canvas id="myChart" height="100"></canvas>

<accordion></accordion>

<scroll-more></scroll-more>

<!-- https://developer.github.com/v3/search/ -->

<!-- display the number of results found -->
<!-- display 5 per page, allow user to change the amount(select dropdown) -->
<!-- sorting by type or ordering? -->
<!-- pagination -->