<form id="search" class="form" role="form" ng-submit="search()">
  <div class="form-group row">
    <div class="col-xs-8 col-sm-10">
      <input type="search" class="form-control input-block-level" ng-model="searchInput" placeholder="Search Repositories">
    </div>
    <button type="submit" class="btn btn-info col-xs-4 col-sm-2">Search <i class="fa fa-search"></i></button>
  </div>
</form>

<h2 ng-if="message">{{ message }}</h2>
<h3 ng-if="loading">Fetching repos...</h3>

<canvas id="myChart" height="100"></canvas>

<accordion></accordion>

<scroll-more></scroll-more>

<!-- https://developer.github.com/v3/search/ -->

<!-- display the number of results found -->
<!-- display 5 per page, allow user to change the amount(select dropdown) -->
<!-- sorting by type or ordering? -->
<!-- pagination -->